<% provide(:title, "Profile page") %>
<br>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h4>
    </section>
    <% if @user == current_user %>
      <%= form_for(@post, url: post_create_path) do |f| %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose new post..." %>
        </div>
        <%= f.submit "Create Post", class: "btn btn-primary btn-bloc" %>
      <% end %>
    <% end %>
  </aside>
  <div class="col-md-8">
    <h3>Posts</h3>
    <% if @posts.empty? %>
      <h3 class="center-txt"><em>There are no posts</em></h3>
    <% else %>
      <%= render @posts %>
    <% end %>
  </div>
</div>

