<%= post.content %>
<% if current_user.likes.exists?(post_id: post.id) %>
  <br> <button disabled="true ">Post Liked</button> <br>
<% else %>
  <div>
    <%= form_tag like_create_path do %>
      <%= hidden_field_tag :post_id, post.id %>
      <%= submit_tag "Like"%>
    <% end %>
  </div>
<% end %>
<h4>Comments :</h4>
  <%# Add comments %>
  <%= form_tag comment_create_path do %>
    <%= hidden_field_tag :post_id, post.id %>
    <%= label_tag :content %>
    <%= text_area_tag :content %>
    <%= submit_tag "Add Comment"%>
  <% end %>
  <%# List all comments on this post %>
  <% @comments = post.comments %>
  <ul>
    <%= render @comments %>
  </ul>
<hr>