<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-color">
      <div class="container">

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= link_to "Facebook Clone", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "All Users", users_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <li><%= link_to "Notifications :" + (Friendship.where("user_id = ? AND status = 'Pending' ",current_user.id).count).to_s, notifications_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Logged in as " + current_user.email, users_show_path(@user, id: current_user.id), :class => 'navbar-link' %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </nav>
        </p>
      </div>
    </header>
    <br>
    <br>
    <div class="container">
      <%= yield %>
    </div>    
  </body>
</html>
